## Observations and Insights

In [32]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_data = pd.merge(mouse_metadata, study_results, on="Mouse ID" )
combined_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [34]:
# Checking the number of mice in the DataFrame.
numberof_mice = combined_data["Mouse ID"].nunique()
numberof_mice

249

In [43]:
combined_data["Mouse ID"].unique()

array(['k403', 's185', 'x401', 'm601', 'g791', 's508', 'f966', 'm546',
       'z578', 'j913', 'u364', 'n364', 'y793', 'r554', 'm957', 'c758',
       't565', 'a644', 'i177', 'j989', 'i738', 'a520', 'w914', 'r811',
       'g288', 'i334', 'q610', 'd251', 'l897', 'c458', 'b742', 'b128',
       'j246', 'a411', 'j119', 'w150', 'v923', 'g316', 's710', 'l509',
       'r944', 'e662', 'u196', 'q597', 'a444', 'i557', 'r921', 'w678',
       'y449', 'a203', 'a251', 'a262', 'a275', 'a366', 'a401', 'a457',
       'a492', 'a577', 'a685', 'a699', 'a788', 'a818', 'a897', 'a963',
       'b313', 'b447', 'b487', 'b559', 'b759', 'b879', 'c139', 'c264',
       'c282', 'c302', 'c326', 'c402', 'c559', 'c580', 'c757', 'c766',
       'c819', 'c832', 'c895', 'c927', 'd133', 'd164', 'd474', 'e213',
       'e227', 'e291', 'e476', 'e584', 'f129', 'f234', 'f278', 'f345',
       'f394', 'f436', 'f545', 'f932', 'f993', 'g107', 'g296', 'g497',
       'g558', 'g570', 'g867', 'g989', 'h246', 'h333', 'h428', 'h531',
       'i386', 'i477', 'i635', 'i669', 'i901', 'j235', 'j296', 'j365',
       'j755', 'j984', 'k210', 'k382', 'k483', 'k510', 'k603', 'k754',
       'k804', 'k862', 'k894', 'l215', 'l264', 'l471', 'l490', 'l558',
       'l661', 'l700', 'l725', 'l733', 'l872', 'm133', 'm269', 'm331',
       'm550', 'm650', 'm756', 'n304', 'n482', 'n630', 'n671', 'n678',
       'n763', 'n923', 'n967', 'o287', 'o302', 'o331', 'o523', 'o562',
       'o725', 'o795', 'o809', 'o813', 'o848', 'o926', 'o973', 'p136',
       'p189', 'p310', 'p387', 'p438', 'p981', 'q119', 'q132', 'q483',
       'q511', 'q582', 'q633', 'q787', 'r107', 'r157', 'r604', 'r701',
       'r850', 's121', 's141', 's152', 's166', 's187', 's337', 's565',
       's619', 't198', 't451', 't573', 't718', 't724', 't994', 'u149',
       'u153', 'u327', 'u946', 'v199', 'v289', 'v295', 'v339', 'v409',
       'v603', 'v719', 'v764', 'v766', 'v835', 'v989', 'v991', 'w140',
       'w151', 'w167', 'w193', 'w350', 'w422', 'w540', 'w575', 'w584',
       'w697', 'w746', 'x111', 'x209', 'x226', 'x264', 'x336', 'x402',
       'x581', 'x613', 'x773', 'x822', 'x930', 'y163', 'y260', 'y478',
       'y601', 'y769', 'y865', 'z234', 'z314', 'z435', 'z581', 'z795',
       'z969'], dtype=object)

In [12]:
count_allrows = combined_data["Mouse ID"].count()
count_allrows

1893

In [38]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
id_duplicates = combined_data[combined_data.duplicated(['Mouse ID'])==True].sort_values('Mouse ID')
id_duplicates[['Mouse ID', 'Timepoint']].head(15)

    Mouse ID  Timepoint
458     a203         20
463     a203         45
462     a203         40
455     a203          5
456     a203         10
457     a203         15
461     a203         35
459     a203         25
460     a203         30
469     a251         25
468     a251         20
467     a251         15
466     a251         10
472     a251         40
465     a251          5

In [39]:
# Optional: Get all the data for the duplicate mouse ID. 
combined_data[combined_data.duplicated(['Mouse ID'])==True].sort_values('Mouse ID')

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
458,a203,Infubinol,Female,20,23,20,55.173336,1
463,a203,Infubinol,Female,20,23,45,67.973419,2
462,a203,Infubinol,Female,20,23,40,63.593490,2
455,a203,Infubinol,Female,20,23,5,48.508468,0
456,a203,Infubinol,Female,20,23,10,51.852437,1
...,...,...,...,...,...,...,...,...
1887,z969,Naftisol,Male,9,30,20,57.898778,2
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [40]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_data = combined_data.drop_duplicates(subset=['Mouse ID'])
clean_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.0,0
10,s185,Capomulin,Female,3,17,0,45.0,0
20,x401,Capomulin,Female,16,15,0,45.0,0
30,m601,Capomulin,Male,22,17,0,45.0,0
40,g791,Ramicane,Male,11,16,0,45.0,0
...,...,...,...,...,...,...,...,...
1858,z314,Stelasyn,Female,21,28,0,45.0,0
1860,z435,Propriva,Female,12,26,0,45.0,0
1863,z581,Infubinol,Female,24,25,0,45.0,0
1873,z795,Naftisol,Female,13,29,0,45.0,0
1883,z969,Naftisol,Male,9,30,0,45.0,0

In [41]:
# Checking the number of mice in the clean DataFrame.
clean_data["Mouse ID"].count()

249

In [ ]:
#We see number of unique values in the first version of dataframe and row count of Mouse ID column in cleaned dataframe is same.

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

## Bar Plots

In [9]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pyplot.

## Pie Plots

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [14]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [15]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [16]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [17]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen